body{
    background-image: url(https://images.unsplash.com/photo-1618866506541-c866cd8810a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
    /* background-position: center; */
    background-repeat:  no-repeat;
    background-size: 100%;
    position: relative;
    /* display: block; */
    
}

.header{
    color: rgb(48, 97, 16);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.api{
    display: flex;
    justify-content: center; 
    padding: 5px;
    margin-top: 70px;
}

ul{
    list-style: circle ;
    margin: 2px;
}

.post-card{
    display: inline-flex;
    background-color: rgb(100, 96, 86);
    color: #fff;
    border: 1px solid black;
    box-shadow: 3px black;
    width: 300px;
    height: 300px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px white;
    
    
}


.post-list{
    margin: 2px;
    margin-right: 15px;
    margin-top: 20px;
    padding: 2px;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.comment-card{
    display: inline-flex;
    background-color: rgb(211, 159, 17);
    color: black;
    border: 1px solid black;
    box-shadow: 3px grey;
    width: 500px;
    height: 200px;
    margin: 10px;
    margin-left: 100px;
    padding: 10px;
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px white;
    
}
/* 
.comment-card :hover{
    background-color: grey;
} */


.comment-list{
    margin: 2px;
    margin-top: 10px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.album-card{
    display: inline-flex;
    background-color: rgb(159, 189, 75);
    color: black;
    border: 1px solid black;
    width: 400px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px white;
    
}


.album-list{
    margin: 2px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.photo-card{
    display: inline-block;
    background-color: rgb(108, 117, 117);
    color: #fff;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px white;
    
}


.photo-list{
    margin: 2px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.todo-card{
    display: inline-flex;
    background-color: rgb(108, 117, 117);
    color: #fff;
    border: 1px solid black;
    width: 300px;
    min-height: 100px;
    margin: 10px;
    margin-left: 70px;
    margin-right: 30px;
    padding: 10px;
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px white;
    
}

.todo-list{
    margin: 2px;
    margin-top: 15px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user-card{
    display: inline-block;
    background-color: tomato;
    color: #fff;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: start;
    border-radius: 5px;
    box-shadow: 5px white;
    
}

.user-list{
    margin: 2px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user-list1{
    text-transform:uppercase;
    color:black;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    padding-bottom: 5px;
}